body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

#productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#productos div {
    border: 1px solid #ccc;
    padding: 20px;
}